logs/
keys/*
!keys/.gitkeep
data/*
!data/department_info.csv
model/bert/*
!model/bert/.gitkeep
model/tokenizer/*
!model/tokenizer/.gitkeep
airflow.db
airflow.cfg
airflow.cfg
.env
encoding.py

.vscode/
__pycache__/